
    <div class="row mb-3 ">
        <div class="col ">
            <div class="card"  style="width: 20rem;">
                <img src="assets/images/iphonex.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Iphone X</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h2 class="text-center">
                            $800
                        </h2>
                    </li>
                    <li class="list-group-item">
                        <h3>Características</h3>
                        <p class="leader">5.8", 1125 x 2436 pixels
                            <br>
                            <br>
                            ProcesadorApple A12 Bionic
                            <br>
                            RAM4GB RAM
                            <br><br>Almacenamiento64GB 256GB 512GB, sin microSD
                            <br><br>CámaraDual, 12MP+12MP
                            Ram</p>
                    </li>
                    <li class="list-group-item">...</li>
                </ul>
                <div class="card-body">
                    <!-- <a href="#" class="card-link">Ver más</a> -->
                    <button type="button" class="btn btn-info">Ver más</button>
                    <button type="button" class="btn btn-info">Añadir al carro</button>
                    <!-- <a href="#" class="card-link">Añadir al carro</a> -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="assets/images/iphonex.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Iphone X</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h2 class="text-center">
                            $800
                        </h2>
                    </li>
                    <li class="list-group-item">
                        <h3>Características</h3>
                        <p class="leader">5.8", 1125 x 2436 pixels
                            <br>
                            <br>
                            ProcesadorApple A12 Bionic
                            <br>
                            RAM4GB RAM
                            <br><br>Almacenamiento64GB 256GB 512GB, sin microSD
                            <br><br>CámaraDual, 12MP+12MP
                            Ram</p>
                    </li>
                    <li class="list-group-item">...</li>
                </ul>
                <div class="card-body">
                    <button type="button" class="btn btn-info">Ver más</button>
                    <button type="button" class="btn btn-info">Añadir al carro</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img src="assets/images/iphonex.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Iphone X</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h2 class="text-center">
                            $800
                        </h2>
                    </li>
                    <li class="list-group-item">
                        <h3>Características</h3>
                        <p class="leader">5.8", 1125 x 2436 pixels
                            <br>
                            <br>
                            ProcesadorApple A12 Bionic
                            <br>
                            RAM4GB RAM
                            <br><br>Almacenamiento64GB 256GB 512GB, sin microSD
                            <br><br>CámaraDual, 12MP+12MP
                            Ram</p>
                    </li>
                    <li class="list-group-item">...</li>
                </ul>
                <div class="card-body">
                    <button type="button" class="btn btn-info">Ver más</button>
                    <button type="button" class="btn btn-info">Añadir al carro</button>
                </div>
            </div>
        </div>
    </div>


    