.row>div {
    /* background: #f2f2f2; */
    /* margin-left: 0PX; */
    padding: 10px;
    /* border: 1px solid grey; */
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

.btn-info {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}